{% extends 'main.html' %}
{% load i18n %}
{% block content %}


    <!-- Main Section -->
    <main class="projects">

        <section class="projectsList">
            <div class="container">
                <div class="grid grid--three">

                    {% for post in posts %}
                        <div class="column">
                            <div class="card project">
                                <a href="{% url 'single-post' post.slug %}" class="project">
                                    <img class="project__thumbnail" src="{{ post.featured_image.url }}"
                                         alt="project thumbnail"/>
                                    <div class="card__body">
                                        <h3 class="project__title">{{ post.title }}</h3>
                                        <p>
                                            <a class="project__author"
                                               href="{% url 'user-profile' post.owner.id %}">{% trans 'By' %} {{ post.owner.username }}</a>
                                        </p>
                                        <p class="project--rating">
                                            <span style="font-weight: bold;">{{ post.likes.count }} Like{{ post.likes.count|pluralize:"s" }}</span>
                                        </p>
                                        <div class="project__tags">
                                            {% for cat in post.category.all %}
                                                <span class="tag tag--pill tag--main">
                                      <small>{{ cat.name }}</small>
                                    </span>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>

{% endblock content %}

