{% extends 'main.html' %}
{% load i18n %}

{% block content %}
    <!-- Main Section -->
    <main class="singleProject my-md">
        <div class="container">
            <div class="layout">
                <div class="column column--1of3">
                    <h3 class="singleProject__subtitle">{% trans 'Categories' %}</h3>
                    <div class="singleProject__toolStack">
                        {% for cat in post.category.all %}
                            <span class="tag tag--pill tag--sub tag--lg">
                          <small>{{ cat }}</small>
                        </span>
                        {% endfor %}
                        <small></small>
                    </div>
                </div>
                <div class="column column--2of3">
                    <img class="singleProject__preview" src="{{ post.featured_image.url }}" alt="portfolio thumbnail"/>
                    <a href="{% url 'user-profile' post.owner.id %}" class="singleProject__developer">{{ post.owner.name }}</a>
                    <h2 class="singleProject__title">{{ post.title }}</h2>
                    <h3 class="singleProject__subtitle">{% trans 'Description' %}</h3>
                    <div class="singleProject__info">
                        {{ post.description }}
                    </div>
                    <div class="comments">
                    <h3 class="singleProject__subtitle">{% trans 'Feedback' %}</h3>
                    <h5 class="project--rating">
                        {{ post.likes.count }} Like{{ post.likes.count|pluralize:"s" }}
                    </h5>

                    {% if request.user.is_authenticated %}
                        <form action="{% url 'post-like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if is_liked %}
                            <button class="btn btn--sub btn--lg" type="submit" name="post_id" value="{{ post.slug }}">Dislike</button>
                        {% else %}
                            <button class="btn btn--sub btn--lg" type="submit" name="post_id" value="{{ post.slug }}">Like</button>
                        {% endif %}
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}?next={{request.path}}">{% trans 'Please login before like' %}</a>
                    {% endif %}

                        <br><br>
                    {% if request.user.is_authenticated %}
                    <form class="form" action="{% url 'single-post' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form__field">
                            <p for="formInput#textarea">{{field.label}}</p>
                            {{field}}
                        </div>
                        {% endfor %}
                        <input class="btn btn--sub btn--lg" type="submit" value="{% trans 'Add Comment' %}" />
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">{% trans 'Please login before leaving a comment' %}</a>
                    {% endif %}
                    <div class="commentList">
                        {% for comment in post.comments_set.all %}
                        {%  if comment.body %}
                        <div class="comment">
                            <a href="{% url 'user-profile' comment.owner.id %}">
                                <img class="avatar avatar--md"
                                     src="{{comment.owner.profile_image.url}}"
                                     alt="user"/>
                            </a>
                            <div class="comment__details">
                                <a href="{% url 'user-profile' comment.owner.id %}" class="comment__author">{{comment.owner.name}}</a>
                                <p class="comment__info">{{comment.body|linebreaksbr}}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                </div>
            </div>
        </div>

    </main>
{% endblock content %}